<!--Section: Contact v.2-->

<section class="mb-4 mt-5"><hr>
    <div class="container">
        <!--Section heading-->
        <h1 class="h1-responsive  text-center mt-5 my-4">Contact us</h1><hr>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>              
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 text-center">
                <ul class="list-unstyled"><hr>
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>RSL Solution Pvt Ltd.<br>Near Sayali Complex,Walhekarwadi,<br>Pune : 411041.</p>
                    </li>

                    <li><i class="fa fa-phone mt-4 fa-2x"></i>
                        <p>+91 7030721691 </p>
                    </li>

                    <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                        <p>contact@rslsolution.com</p>
                    </li><hr>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <h3 class="h1-responsive text-center">Send Message</h3><hr>
        <div class="row">
               <!--Grid column-->
               <div class="col-md-8 offset-md-2 mb-md-0 mb-5">
                <form [formGroup]="myReactiveForm" id="contact-form" role="form" >

                    <!--Grid row-->
                    <div class=" row ">

                        <!--Grid column-->
                        <div class="col-md-6 ">
                            <div class="md-form mb-0 ">
                                <label for="name">Your name</label>
                                {{myReactiveForm.controls.name.value}}
                                <input type="text " id="name" formControlName="name" class="form-control ">
                                <small class="text-danger"
                                    *ngIf="!myReactiveForm.get('name').valid && myReactiveForm.get('name').touched">Please Enter Valid Name</small>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6 ">
                            <div class="md-form mb-0 ">
                                <label for="email">Your email</label>
                                <input type="text" id="email" formControlName="email" class="form-control ">
                                <small class="text-danger"
                                    *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Please Enter Valid Email</small>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="md-form">
                                <label for="subject">Subject</label>
                                <input type="text " id="subject" formControlName="subject" class="form-control">
                                <small class="text-danger"
                                    *ngIf="!myReactiveForm.get('subject').valid && myReactiveForm.get('subject').touched">Please Enter Valid Subject</small>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row ">

                        <!--Grid column-->
                        <div class="col-md-12 mb-2 ">

                            <div class="md-form">
                                <label for="message">Your message</label>
                                <textarea type="text" id="message" formControlName="message" rows="2 " class="form-control md-textarea "></textarea>
                                <small class="text-danger"
                                    *ngIf="!myReactiveForm.get('message').valid && myReactiveForm.get('message').touched">Please Enter Message</small>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="text-center text-md-left">
                        <!-- <input type="submit" (click)="btnClick()" class="btn btn-md-block bg-primary text-white" formControlName="submit"> -->
                        <button class="btn btn-primary mr-2" [disabled]="!myReactiveForm.valid" (click)="submitForm()">Submit</button>
                        <button class="btn btn-danger" (click)="reset()">Reset</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Section: Contact v.2-->